@font-face {
  font-family: 'Jura-Bold';
  src: url("../fonts/Jura/Jura-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Jura-Light';
  src: url("../fonts/Jura/Jura-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Jura-Medium';
  src: url("../fonts/Jura/Jura-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Jura-Regular';
  src: url("../fonts/Jura/Jura-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Jura-SemiBold';
  src: url("../fonts/Jura/Jura-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'RussoOne-Regular';
  src: url("../fonts/Russo_One/RussoOne-Regular.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #000;
  opacity: 1; }

*:-moz-placeholder {
  color: #000;
  opacity: 1; }

*::-moz-placeholder {
  color: #000;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #000;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

*::-moz-selection {
  background-color: #f4d113;
  color: #fff; }

*::selection {
  background-color: #f4d113;
  color: #fff; }

*::-webkit-scrollbar-thumb {
  background-color: #f4d113; }

*::-webkit-scrollbar {
  width: 7px; }

*::-webkit-scrollbar-track {
  background: #e8e8e8; }

html, body {
  background-color: #fff;
  overflow-x: hidden; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Jura-Regular", sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: #000; }

.img-responsive, img {
  display: block;
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 20px;
  color: #000;
  font-size: 24px;
  line-height: normal !important;
  font-family: "Jura-Bold", sans-serif !important; }

.modal-open {
  padding-right: 7px !important; }

.has-error .inp__all {
  border: 1px solid red; }

input, textarea {
  outline: none; }

textarea {
  resize: none; }

strong, b {
  font-weight: bold !important;
  font-family: "Jura-Bold", sans-serif !important; }

a {
  position: relative;
  text-decoration: none;
  outline: none;
  color: #000;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }
  a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: #f4d113; }

button {
  outline: none;
  background: transparent;
  font-family: 'Jura-Bold', sans-serif;
  border: none; }
  button:hover, button:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.js-svg-img {
  opacity: 0;
  max-width: 100%;
  max-height: 100%; }
  .js-svg-img path {
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease; }
  .js-svg-img.ready {
    opacity: 1; }

.js-disabled {
  opacity: 1; }
  .js-disabled:disabled {
    opacity: 0.6;
    cursor: auto; }

.lazy {
  width: auto;
  background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7); }
  .lazy.loaded {
    background-image: none; }

.ff__jb {
  font-family: 'Jura-Bold', sans-serif; }

.ff__jl {
  font-family: 'Jura-Light', sans-serif; }

.ff__jm {
  font-family: 'Jura-Medium', sans-serif; }

.ff__jsb {
  font-family: 'Jura-SemiBold', sans-serif; }

.ff__ror {
  font-family: 'RussoOne-Regular', sans-serif; }

.fz48 {
  font-size: 48px; }

.fz45 {
  font-size: 45px; }

.fz38 {
  font-size: 38px; }

.fz35 {
  font-size: 35px; }

.fz33 {
  font-size: 33px; }

.fz30 {
  font-size: 30px; }

.fz26 {
  font-size: 26px; }

.fz25 {
  font-size: 25px; }

.fz24 {
  font-size: 24px; }

.fz22 {
  font-size: 22px; }

.fz20 {
  font-size: 20px; }

.fz19 {
  font-size: 19px; }

.fz18 {
  font-size: 18px; }

.fz17 {
  font-size: 17px; }

.fz15 {
  font-size: 15px; }

.fz14 {
  font-size: 14px; }

.lh__55 {
  line-height: 55px; }

.lh__34 {
  line-height: 34px; }

.lh__25 {
  line-height: 25px; }

.section__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.js__bi {
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.btn__all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 40px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

.inp__all {
  border: 2px solid #282828;
  background-color: transparent;
  min-height: 76px;
  width: 100%;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 4px 26px; }
  .inp__all:focus ~ .inp__label, .inp__all:not(:placeholder-shown) ~ .inp__label {
    top: 20%; }

.inp__parent {
  position: relative;
  margin-bottom: 28px;
  z-index: 1; }

.inp__label {
  position: absolute;
  top: 50%;
  left: 26px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

.closess {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 10px;
  right: 10px;
  z-index: 2;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent; }
  .closess::before, .closess::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    cursor: pointer;
    top: 11px;
    left: 2px;
    background-color: #000;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease; }
  .closess::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .closess::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .closess:hover::before, .closess:hover::after {
    background-color: #f4d113; }

.max__width {
  max-width: 1920px;
  margin: 0 auto;
  position: relative; }

.pb__100 {
  padding-bottom: 100px; }

.sect__ind {
  background-color: #1e1c27;
  position: relative; }
  .sect__ind-circle {
    position: relative; }
    .sect__ind-circle__img {
      position: absolute;
      top: 0;
      right: 0; }
  .sect__ind-wrap {
    margin-top: 40px; }
  .sect__ind-title {
    color: #ffffff; }
  .sect__ind-title2 {
    color: #f4d113; }
  .sect__ind-info {
    margin: 30px 0; }
  .sect__ind-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: -20px; }
    .sect__ind-item__img {
      margin-top: -30px; }
    .sect__ind-item__title {
      color: #ffffff;
      width: 77%; }
  .sect__ind-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .sect__ind-btn__title {
      color: #f4d113; }
  .sect__ind-plata {
    position: absolute;
    bottom: -78px;
    right: -80px;
    width: 67%; }
  .sect__ind .max__width {
    background-position: top right; }

.bi__right {
  background-position: right;
  background-repeat: no-repeat;
  -webkit-background-size: auto auto;
          background-size: auto; }

.bi__left {
  background-position: left;
  background-repeat: no-repeat;
  -webkit-background-size: auto auto;
          background-size: auto; }

.btn__img {
  position: relative;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }
  .btn__img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 20px 12px #ffcc00;
            box-shadow: 0 0 20px 12px #ffcc00;
    opacity: .5;
    -webkit-border-radius: 2px;
            border-radius: 2px; }
  .btn__img .img-responsive {
    background: #7d6617; }
  .btn__img-no::before {
    display: none; }
  .btn__img-no .img-responsive {
    background-color: transparent; }
  .btn__img-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-transform: uppercase; }
  .btn__img.disabled {
    opacity: .6;
    cursor: auto; }

.logo__a {
  display: block; }

.head {
  padding-top: 20px; }
  .head__title {
    color: #ffffff; }
  .head__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .head__call {
    cursor: pointer;
    position: relative;
    color: #000;
    display: inline-block;
    margin-top: 6px; }
    .head__call::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #000;
      -webkit-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease; }
    .head__call:hover::before {
      left: auto;
      width: 0;
      right: 0; }
  .head__phone:hover {
    color: #000000; }

.advantage {
  min-height: 630px;
  position: relative; }
  .advantage__wrap {
    padding: 100px 0 70px; }
  .advantage__img {
    position: absolute;
    top: 0;
    left: 0; }
  .advantage__right {
    position: relative;
    text-align: center; }
    .advantage__right-df {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      z-index: 1;
      margin-left: 140px;
      margin-top: 20px; }
      .advantage__right-df__title {
        display: inline-block;
        margin-right: 8px; }
      .advantage__right-df__img {
        position: relative;
        top: 10px; }
    .advantage__right-img {
      position: absolute;
      top: 0;
      right: -38%;
      z-index: -1; }
  .advantage__item {
    margin-bottom: 30px; }
    .advantage__item-num {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .advantage__item-num__title {
        color: #fcb922;
        display: inline-block; }
      .advantage__item-num__img {
        margin-left: 20px; }
        .advantage__item-num__img .js-svg-img {
          fill: #f4d113 !important; }
          .advantage__item-num__img .js-svg-img path, .advantage__item-num__img .js-svg-img polygon {
            fill: #f4d113 !important; }
    .advantage__item-title {
      margin-top: 16px; }

.pen {
  padding: 54px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4cf15), to(#fcba22));
  background: -webkit-linear-gradient(#f4cf15, #fcba22);
  background: -o-linear-gradient(#f4cf15, #fcba22);
  background: linear-gradient(#f4cf15, #fcba22); }
  .pen__img .img-responsive {
    margin: 0 auto; }

.partner {
  padding: 88px 0; }
  .partner__title {
    text-align: center; }
  .partner__slider {
    margin: 50px auto 0; }
    .partner__slider-img {
      display: block;
      -webkit-filter: grayscale(1);
              filter: grayscale(1);
      margin: 0 20px; }
      .partner__slider-img .img-responsive {
        height: 50px; }
      .partner__slider-img:hover {
        -webkit-filter: grayscale(0);
                filter: grayscale(0); }

.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 26px; }
  .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #282828;
    background-color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer;
    margin: 0 8px;
    padding: 0; }
  .slick-dots .slick-active button {
    background-color: #f4d113;
    border: 1px solid #282828; }

.c__accent {
  color: #f4d113; }

.keys {
  background-color: #1e1c27;
  min-height: 640px;
  position: relative; }
  .keys__img {
    position: absolute;
    top: 0;
    left: 0; }
  .keys__title {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px; }
  .keys__wrap {
    padding: 90px 0 60px; }
  .keys__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%; }
    .keys__item-title {
      color: #f4d113;
      margin-top: auto;
      margin-bottom: 20px; }
    .keys__item-text {
      color: #ffffff;
      margin-bottom: 20px; }
    .keys__item-plus {
      margin-top: auto;
      color: #ffffff;
      padding-left: 12px;
      position: relative; }
      .keys__item-plus::before {
        content: '+';
        position: absolute;
        top: 0;
        left: 0;
        color: #f4d113; }
  .keys__line {
    border-right: 2px solid #f4d113;
    position: relative; }
    .keys__line::before, .keys__line::after {
      content: '';
      position: absolute;
      right: -5px;
      width: 8px;
      height: 8px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: 2px solid #f4d113; }
    .keys__line::before {
      top: -6px; }
    .keys__line::after {
      bottom: -6px; }

.mb__40 {
  margin-bottom: 40px; }

.c__black {
  color: #282828; }

.production {
  padding: 96px 0; }
  .production__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 64px; }
    .production__block-title {
      margin-right: 10px; }
    .production__block-img {
      position: relative;
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
      top: -6px; }
  .production__img-big {
    position: relative;
    z-index: 1; }
    .production__img-big::before {
      content: '';
      position: absolute;
      top: 26px;
      left: 0;
      width: 90%;
      height: 100%;
      border: 5px solid #fcb922;
      z-index: -1; }
    .production__img-big .img-responsive {
      margin: 0 auto; }
  .production__img-min {
    position: relative;
    z-index: 2;
    top: -30px; }
  .production__title {
    text-transform: uppercase;
    margin-bottom: 10px; }
  .production__title2 {
    margin-right: 20px;
    width: 50%; }
  .production__text {
    margin-bottom: 10px; }
  .production__df {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .production__df-img {
      position: relative;
      top: 6px; }
  .production__list {
    margin-bottom: 30px; }
    .production__list ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .production__list ul li {
        margin-bottom: 4px; }
        .production__list ul li:last-child {
          margin-bottom: 0; }

.control {
  position: relative;
  min-height: 765px;
  background-color: #1e1c27; }
  .control__wrap {
    padding: 50px 0 80px; }
  .control__img {
    position: absolute;
    top: 0;
    right: 0; }
  .control__title {
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 36px;
    margin-bottom: 8px; }
  .control__title2 {
    color: #ffffff;
    margin-bottom: 26px; }
  .control__title3 {
    color: #f4d113;
    text-transform: uppercase;
    margin: 36px 0 16px; }
  .control__text {
    color: #ffffff; }
  .control__item {
    margin-bottom: 14px; }
    .control__item-title {
      color: #f4d113; }
    .control__item-text {
      color: #ffffff; }

.competitor {
  background-color: #f6cc16;
  padding-top: 70px;
  position: relative; }
  .competitor__img {
    position: absolute; }
    .competitor__img-left {
      bottom: 10px;
      left: 0; }
    .competitor__img-right {
      right: 0;
      top: 16px; }
  .competitor__title {
    margin-top: 10px;
    margin-bottom: 36px; }
  .competitor__text {
    margin-bottom: 40px; }
  .competitor__block {
    padding: 20px 30px;
    background-color: #ffffff;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    margin-bottom: 40px;
    position: relative; }
    .competitor__block::before {
      content: '';
      position: absolute;
      top: 18px;
      left: -114px;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent #fff transparent transparent;
      border-width: 0 116px 50px 0; }

.c__white {
  color: #ffffff; }

.better {
  padding: 100px 0; }
  .better__block {
    background-color: #ffffff;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    padding: 30px; }
  .better__blocks {
    padding: 24px 0;
    border-bottom: 2px solid #fcb922; }
    .better__blocks:last-child {
      border-bottom: none; }
    .better__blocks-item__img .img-responsive {
      margin-left: auto; }
  .better__wrap {
    border: 2px solid #fcb922;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    padding: 40px 20px; }
  .better__title {
    text-align: center;
    margin-bottom: 16px; }
  .better__text {
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 18px; }

.sect__bi {
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.trust {
  background-color: #f6cb17;
  padding: 94px 0; }
  .trust__title {
    text-transform: uppercase; }
  .trust__text {
    letter-spacing: -1px;
    margin-top: 30px; }

.form__call {
  background-color: #ffffff;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 26px; }
  .form__call-wrap {
    -webkit-border-radius: 15px;
            border-radius: 15px;
    border: 2px solid #fcb922;
    padding: 40px 26px;
    text-align: center; }
  .form__call-title {
    margin-bottom: 24px; }
  .form__call-check {
    margin-top: 30px; }
    .form__call-check__label {
      margin: 0;
      padding-left: 58px;
      position: relative;
      cursor: pointer;
      line-height: 20px; }
      .form__call-check__label::before {
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        width: 30px;
        height: 30px;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        border: 2px solid #fcb922; }
      .form__call-check__label::after {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 33px;
        height: 39px;
        background-image: url(../icons/galka.png);
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        opacity: 0; }
      .form__call-check__label a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #f4d113;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease; }
      .form__call-check__label a:hover::before {
        content: '';
        left: auto;
        right: 0;
        width: 0; }

.inp__check[type=checkbox]:checked + .form__call-check__label::after {
  opacity: 1; }

.inp__check {
  display: none; }

.step {
  padding: 90px 0;
  background-color: #1e1c27; }
  .step__title {
    color: #ffffff;
    text-transform: uppercase; }
  .step__wrap {
    margin-top: 26px; }
    .step__wrap-btn {
      margin-top: 20px; }
  .step__item {
    margin-bottom: 18px; }
    .step__item-num {
      position: relative; }
      .step__item-num__img .img-responsive {
        margin-left: auto; }
      .step__item-num__title {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    .step__item-title {
      position: relative;
      left: 20px;
      margin-left: -20px;
      letter-spacing: -1px; }

.quality {
  padding: 84px 0; }
  .quality__title {
    text-transform: uppercase; }
  .quality__wrap {
    margin-top: 24px; }
  .quality__item {
    margin-bottom: 18px; }
    .quality__item:last-child {
      margin-bottom: 0; }
    .quality__item-img .img-responsive {
      margin: 0 auto; }
  .quality__block {
    color: #ffffff;
    position: relative; }
    .quality__block-title {
      margin-bottom: 16px; }
    .quality__block-wrap {
      position: absolute;
      top: 100px;
      left: 0;
      color: #ffffff; }
    .quality__block-item {
      width: 90%; }

.photo {
  background-color: #1e1c27;
  padding: 86px 0;
  text-align: center; }
  .photo__title {
    text-transform: uppercase;
    margin-bottom: 18px; }
  .photo__slider .slick-track {
    padding: 40px 0; }
  .photo__slider .slick-slide {
    margin: 0 20px; }
    .photo__slider .slick-slide img {
      width: 100%;
      height: 100%; }
  .photo__slider-item {
    display: block;
    height: 210px; }
  .photo__slider .slick-dots {
    margin-top: 0; }
    .photo__slider .slick-dots button {
      background-color: transparent;
      border: 2px solid #fff; }
    .photo__slider .slick-dots .slick-active button {
      background-color: #f4d113;
      border-color: #f4d113; }

.fancy__img {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border: 1px solid #fff;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }
  .fancy__img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0; }
  .fancy__img::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 56px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url(../icons/svg/zoom.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    opacity: 0; }
  .fancy__img:hover {
    -webkit-box-shadow: 0 0 16px 16px #766118;
            box-shadow: 0 0 16px 16px #766118; }
    .fancy__img:hover::before, .fancy__img:hover::after {
      opacity: 1; }

.china {
  background-color: #f6ce15;
  padding-top: 24px; }
  .china__wrap {
    position: relative;
    left: 60px;
    margin-left: -60px; }
  .china__title {
    margin-bottom: 30px; }
  .china__img {
    position: relative; }
    .china__img .img-responsive {
      margin: 0 auto; }
    .china__img-block {
      position: absolute;
      top: 210px;
      right: 50px; }
    .china__img-title {
      position: relative; }
      .china__img-title::before {
        content: '';
        position: absolute;
        top: -60px;
        left: 0;
        width: 24px;
        height: 34px;
        background-image: url(../icons/svg/circut2.svg);
        -webkit-background-size: 100% 100%;
                background-size: 100%; }

.cases {
  padding: 70px 0; }
  .cases__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .cases__title-left {
      text-transform: uppercase;
      margin-right: 28px; }
  .cases__wrap {
    margin-top: 40px; }
  .cases__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-calc(100% - 30px);
    height: calc(100% - 30px);
    margin-bottom: 30px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    background-color: #1e1c27;
    -webkit-box-shadow: 0 0 10px 4px #d7d7d7;
            box-shadow: 0 0 10px 4px #d7d7d7;
    padding: 40px 20px;
    min-height: 300px; }
    .cases__item-img .img-responsive {
      margin: 0 auto; }
    .cases__item-title {
      margin-bottom: 16px;
      min-height: 90px; }
    .cases__item-text {
      margin-top: auto;
      color: #ffffff; }

.contacts {
  padding: 144px 0;
  position: relative; }
  .contacts__poa {
    position: absolute;
    top: -50px;
    left: 0; }
  .contacts__map {
    height: 630px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    overflow: hidden; }
  .contacts__info {
    background-color: #ffffff;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    padding: 38px 26px;
    position: relative;
    overflow: hidden; }
    .contacts__info::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 100%;
      -webkit-box-shadow: 0 0 16px 16px #a9a9a9;
              box-shadow: 0 0 16px 16px #a9a9a9; }
  .contacts__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }
    .contacts__item:last-child {
      margin-bottom: 0; }
    .contacts__item-img {
      width: 34px;
      margin-right: 12px; }
    .contacts__item-title {
      width: 66%; }
  .contacts__black {
    background-color: #1e1c27;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    padding: 38px 26px;
    position: relative;
    z-index: 2;
    margin-top: 30px; }
    .contacts__black-title {
      text-transform: uppercase;
      margin-bottom: 20px; }
    .contacts__black-text {
      color: #ffffff;
      margin-bottom: 4px; }
    .contacts__black-a {
      display: inline-block; }

.foot {
  margin-top: auto;
  background-color: #1e1c27;
  padding: 50px 0;
  border-top: 5px solid #f4d113; }
  .foot__info-a {
    color: #ffffff; }
  .foot__info-before {
    position: relative;
    color: #f4d113; }
    .foot__info-before::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #f4d113;
      -webkit-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease; }
    .foot__info-before:hover::before {
      left: auto;
      right: 0;
      width: 0; }
  .foot__copy {
    color: #ffffff;
    text-align: center;
    margin-top: 6px; }

.mt__40 {
  margin-top: 40px; }

.mt__auto {
  margin-top: auto; }

.sect__vh {
  padding: 40px 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.sect__error {
  text-align: center;
  color: #ffffff; }
  .sect__error-img {
    margin: 120px 0; }
    .sect__error-img .img-responsive {
      margin: 0 auto; }

.sect__thank {
  color: #ffffff; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1899px) {
  .competitor__img-right {
    right: -60px; }
  .competitor__img-left {
    left: -60px; } }

@media only screen and (max-width: 1799px) {
  .competitor__img-right {
    top: -60px; }
  .trust {
    background-position: top right -60px; }
  .sect__ind .max__width {
    background-position: top right -16%; } }

@media only screen and (max-width: 1699px) {
  .competitor__img-right {
    right: -120px; }
  .competitor__img-left {
    left: -120px; }
  .trust {
    background-position: top right -90px; } }

@media only screen and (max-width: 1599px) {
  /**/ }

@media only screen and (max-width: 1499px) {
  .fz45 {
    font-size: 43px; }
  .fz18 {
    font-size: 17px; }
  .sect__ind .max__width {
    background-position: top right -40%; }
  .competitor__img-right {
    right: -170px; }
  .competitor__img-left {
    left: -170px; }
  .trust {
    background-position: top right -230px; }
  .china__wrap {
    left: 100px;
    margin-left: -100px; }
  .contacts__info {
    padding-left: 10px; } }

@media only screen and (max-width: 1399px) {
  .fz45 {
    font-size: 40px; }
  .fz38 {
    font-size: 34px; }
  .fz35 {
    font-size: 32px; }
  .fz18 {
    font-size: 16px; }
  .fz24 {
    font-size: 22px; }
  .lh__34 {
    line-height: 30px; }
  .lh__55 {
    line-height: 50px; }
  .sect__ind .max__width {
    background-position: top right -90%; }
  .production__img-big::before {
    left: -26px; }
  .production__img-min {
    left: 10px; }
  .quality__block-wrap {
    top: 80px; }
  .photo__slider-item {
    height: 150px; }
  .photo__slider .slick-slide {
    margin: 0 10px; }
  .sect__error-img {
    margin: 90px 0; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1299px) {
  body {
    font-size: 15px; }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-size: 21px; }
  .fz48 {
    font-size: 42px; }
  .fz45 {
    font-size: 38px; }
  .fz38 {
    font-size: 34px; }
  .fz35 {
    font-size: 32px; }
  .fz33 {
    font-size: 30px; }
  .fz30 {
    font-size: 26px; }
  .fz26 {
    font-size: 24px; }
  .fz25 {
    font-size: 23px; }
  .fz24 {
    font-size: 20px; }
  .fz22 {
    font-size: 20px; }
  .fz20 {
    font-size: 19px; }
  .fz19 {
    font-size: 18px; }
  .fz18 {
    font-size: 16px; }
  .fz17 {
    font-size: 16px; }
  .fz15 {
    font-size: 14px; }
  .fz14 {
    font-size: 13px; }
  .lh__55 {
    line-height: 45px; }
  .form__call {
    padding: 10px; }
  .trust__title {
    margin-left: -20px;
    left: 20px;
    position: relative; }
  .modal-open {
    padding-right: 0px !important; }
  *::-webkit-scrollbar {
    width: 0px; }
  .sect__ind .max__width {
    background-image: none !important; }
  .head__info {
    color: #ffffff; }
  .head__phone {
    color: #ffffff; }
    .head__phone:hover {
      color: #f4d113; }
  .head__call {
    color: #ffffff; }
    .head__call::before {
      background-color: #ffffff; }
  .sect__ind-plata {
    bottom: auto;
    top: 0; }
  .competitor__block::before {
    top: auto;
    bottom: 40px; }
  .quality__block-item {
    width: 100%; }
  .quality__block-title {
    margin-bottom: 6px; }
  .quality__block-wrap {
    top: 90px; }
  .trust {
    background-image: none !important; }
  .quality__block-wrap {
    position: relative;
    top: 0;
    left: 0;
    color: #282828; }
  .china__wrap {
    margin-left: -210px;
    left: 210px; }
  .china__text {
    width: 80%;
    margin-bottom: 20px; }
  .china__img-block {
    top: 180px;
    right: 0; }
  .contacts__info::before {
    display: none; }
  .contacts__map {
    height: 420px; }
  .order1 {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
        -ms-flex-order: -2;
            order: -2; }
  .mobile__order {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; }
  .contacts__info {
    padding-left: 20px;
    padding-right: 20px; }
  .advantage__right-df {
    margin-left: 80px; }
  .advantage__item-num__img {
    width: 30%;
    margin-left: 10px; }
  .mobile__none1 {
    display: none; }
  .sect__error-img {
    margin: 60px 0; }
  .production__list {
    margin-top: 20px; }
  .production__title2 {
    width: 90%; }
  .competitor__title {
    margin-left: -150px; }
  .competitor__block {
    padding: 16px 10px; }
  .inp__all {
    min-height: 56px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1023px) {
  .contacts__poa {
    margin-top: 30px;
    position: relative;
    top: 0; }
  .mobile__none {
    display: none; }
  body {
    font-size: 14px; }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-size: 19px; }
  .fz48 {
    font-size: 36px; }
  .fz45 {
    font-size: 30px; }
  .fz38 {
    font-size: 28px; }
  .fz35 {
    font-size: 27px; }
  .fz33 {
    font-size: 26px; }
  .fz30 {
    font-size: 24px; }
  .fz26 {
    font-size: 20px; }
  .fz25 {
    font-size: 19px; }
  .fz24 {
    font-size: 18px; }
  .fz22 {
    font-size: 17px; }
  .fz20 {
    font-size: 16px; }
  .fz19 {
    font-size: 15px; }
  .fz18 {
    font-size: 15px; }
  .fz17 {
    font-size: 14px; }
  .fz15 {
    font-size: 13px; }
  .fz14 {
    font-size: 12px; }
  .advantage__item-num__img {
    width: auto;
    margin-left: 20px; }
  .keys__line {
    border-right: none; }
    .keys__line::before, .keys__line::after {
      display: none; }
  .keys__item {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .keys {
    background-image: none !important; }
  .production__img-big::before {
    left: 0; }
  .better__blocks-item__img .img-responsive {
    margin-left: 0; }
  .form__call {
    margin-top: 30px;
    text-align: center; }
  .foot {
    text-align: center; }
    .foot__info {
      margin-bottom: 20px; }
    .foot .logo {
      margin-bottom: 20px; }
      .foot .logo .img-responsive {
        margin: 0 auto; }
    .foot .head__title {
      margin-bottom: 20px; }
  .head__phone {
    margin-left: -20px;
    left: 20px; }
  .inp__all {
    min-height: 56px; }
  .competitor__title {
    margin-left: 0; }
  .competitor__image {
    display: none; }
  .competitor__img {
    display: none; }
  .competitor__block {
    padding: 20px 30px; }
  .quality__block-item {
    margin-top: 20px; }
  .china__wrap {
    margin-left: 0;
    left: 0; }
  .china__text {
    width: 100%; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 769px) {
  .sect__ind-plata, .competitor__image {
    display: none; }
  body {
    font-size: 16px; }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-size: 24px; }
  .fz48 {
    font-size: 40px; }
  .fz45 {
    font-size: 36px; }
  .fz38 {
    font-size: 35px; }
  .fz35 {
    font-size: 34px; }
  .fz33 {
    font-size: 33px; }
  .fz30 {
    font-size: 30px; }
  .fz26 {
    font-size: 26px; }
  .fz25 {
    font-size: 25px; }
  .fz24 {
    font-size: 24px; }
  .fz22 {
    font-size: 22px; }
  .fz20 {
    font-size: 20px; }
  .fz19 {
    font-size: 19px; }
  .fz18 {
    font-size: 18px; }
  .fz17 {
    font-size: 17px; }
  .fz15 {
    font-size: 15px; }
  .fz14 {
    font-size: 14px; }
  .head__phone {
    margin-left: 0px;
    left: 0px; }
  .pen__img, .competitor__img {
    display: none; }
  .inp__all {
    min-height: 76px; }
  .head {
    text-align: center; }
    .head .logo .img-responsive {
      margin: 0 auto 20px; }
  .head__right {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .step__item-title {
    margin-left: 0;
    left: 0; }
  .step__item-num__title {
    left: 44px; }
  .step__item-num__img .img-responsive {
    margin-left: 0; }
  .quality__block-item {
    margin-top: 40px; }
  .mt__40 {
    margin-top: 0; }
  .cases__item-title {
    min-height: 0; }
  .cases__item {
    text-align: center; }
  .contacts {
    padding: 90px 0; }
  .partner__slider-img .img-responsive {
    margin: 0 auto; }
  .better__block {
    padding: 14px; }
  .trust__title {
    margin-left: 0;
    left: 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 499px) {
  .fz48 {
    font-size: 36px; }
  .fz45 {
    font-size: 32px; }
  .fz38 {
    font-size: 28px; }
  .fz35 {
    font-size: 27px; }
  .fz33 {
    font-size: 27px; }
  .fz30 {
    font-size: 24px; }
  .fz26 {
    font-size: 22px; }
  .fz25 {
    font-size: 21px; }
  .fz24 {
    font-size: 20px; }
  .fz22 {
    font-size: 19px; }
  .fz20 {
    font-size: 18px; }
  .fz19 {
    font-size: 17px; }
  .fz17 {
    font-size: 16px; }
  .fz18 {
    font-size: 16px; }
  .lh__55 {
    line-height: 40px; }
  .partner__slider-img {
    margin: 0; }
  .production__img-min {
    top: 0;
    left: 0;
    margin: 20px 0; }
  .sect__ind-btn {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .sect__ind-btn__line {
      display: none; }
    .sect__ind-btn__title {
      margin-top: 20px; }
  .competitor__block::before {
    display: none; }
  .better__block {
    padding: 10px; }
  .better__wrap {
    padding: 10px; }
  .form__call {
    padding: 10px; }
  .form__call-wrap {
    padding: 10px; }
  .inp__all {
    min-height: 56px; }
  .form__call-check__label {
    padding-left: 18px; }
  .production__img-min {
    margin: 40px 0 20px;
    top: 0;
    left: 0; }
  .step__item-num__img .img-responsive {
    margin-left: 0; }
  .step__item-num__title {
    left: 38px; }
  .step__item-title {
    margin-left: -20px;
    left: 0; }
  .contacts__map {
    height: 300px; }
  .contacts {
    padding: 60px 0; }
  .cases__title-left {
    margin-right: 14px; }
  .sect__ind-item {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: 0;
    left: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px; }
  .sect__ind-item__img {
    margin-top: 0; }
  .production__title2 {
    width: 100%; }
  .production__df-img {
    display: none; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
